*{
	margin:0px;
	padding:0px;
}

body{
	background: url(../img/Fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.container{
	margin-top:20px;
}



header, .main, footer{
	margin-bottom: 20px;

}

.logo{
	width: 10%;
	border-radius:50%;
	margin-bottom:10px;
	box-shadow: 0 0 15px white;
	transition: all 1s ease;
	transform: rotate(360deg);
}

.menu{
	width: 100%;
}

/*.menu:hover{
	animation:1s goma ease;
}

@-webkit-keyframes goma{

	0%{
     transform: scaleX(1.3) scaleY(0.9);
	}

	30%{
     transform: scaleX(0.9) scaleY(1.3);
	}

	60%{

	transform: scaleX(1.1) scaleY(1);

	}

	90%{
	transform: scaleX(0.9) scaleY(1.1);
	}

}*/

nav{
	margin-top: 10px;
	padding: 7px;
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
}

header nav ul{
	list-style: none;
}

header nav .padre{
	width: 5%;
}

header nav .padre > li{
	float: left;
}

header nav .padre > li:hover{
	background: #5B33FF;
	border-radius:10px;
}

header nav ul li ul li a{
	display: block;
	background: #000;
	color: #fff;
	padding: 10px 25px;
	text-decoration:none;
}



header nav li ul{
	display: none;
	width: 90%;
	position: absolute;
	z-index: 1;
	border-radius:10px;
}

header nav ul li:hover > ul{
    
    display: block;
}



header nav ul li ul li a:hover{
	background: #fff;
	color: #000;
}

.caja{
	margin-bottom: 20px;
}

.img{
	z-index: 1;
	width: 100%;
	box-shadow:0 0 13px white;
	transition: all 0.9s ease;
}

.img:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.Titulo1{
	color:#fff;
	margin: 0px auto;
	background: #000;
	text-align:center;
	border-radius: 7px;
	padding: 2px;
	margin-bottom: 10px;
}


.pie{
	border-radius:10px;
	text-align: center;
	color:#fff;
	background:black;
	padding: 5px;
	overflow: hidden;
}

.iconos{
	margin:0px 5px;
	text-align: center;
	width: 5%;

}

/*--------Productos---------*/

.imgP{
	display: block;
	margin: auto;
	width:85%;
}


.card{
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.buttonC{
	display: block;
    padding: 10px 20px;
    color: #000;
    background: green;
    width: 160px;
    border-radius:5px;
    margin: auto;
    text-align: center;
}

.buttonC:hover{
	color:black;
	background: #30C64D;
}

 .clasificacion1{
 background: #09DB0D;
 width: 100%;
 padding: 5px;
 border-radius: 7px;
 margin-bottom: 20px; 
 color: #000;
}

.clasificacion2{
 background: #FFC128;
 width: 100%;
 padding: 5px;
 border-radius: 7px;
 margin-bottom: 20px;
 color: #000; 
}


/*------Historia--------*/

.boxH{
	background: #fff;
	width:100%;
	margin-bottom: 15px;
	border-radius: 5px;
	padding: 20px;
	overflow: hidden;
	box-sizing: border-box;
}

.valores{
	margin-left: 20px;
}

/*----------Contactenos----------*/

.formu{
	width:80%;
	margin:auto;
	background: #E7EDE7;
	padding:15px;
	overflow: hidden;
}

.cabezeraF{
	width:80%;
	margin:auto;
	background: #6031DC;
	padding:15px;
	border-radius: 7px 7px 0px 0px;
}

label{
	width: 100%;
	display:block;
}

#nombre, #email{
	margin-bottom:15px;
	width: 100%;
	padding: 4px;
}


#enviar{
	background: #19CAC5;
	display: block;
	float: right;
	padding: 5px 25px;
	border:none;
	border-radius: 5px;
	margin-top: 30px;
}

#enviar:hover{
	background: #17D8D2;

}

.aviso{
	color: red;
	text-align:center;
}

.imgC{
	width: 58%;
	display: block;
	margin:auto;
	animation:1.2s control infinite ease-in-out;
}


@-webkit-keyframes control{
   50%{
     transform: scale(1.5);
   }

   100%{
     transform: scale(1);
   }	
}

.Figuras{
	display: block;
	margin: auto;
	width: 90%;
}


/*--------Promociones----------*/

.cajaPromo{
 background: #fff;
 border-radius: 7px;
 margin-bottom: 20px;
 padding: 20px;
}

video{
	width: 80%;
	display: block;
	margin:auto;
}

.cajaPromoUl{
 background: #fff;
 border-radius: 7px;
 margin:auto;
 margin-bottom: 20px;
 padding: 20px;

}

span{
	color: red;
}

.pronto{
	text-align:center;
}